h1 {
    text-align: center;
}

div {
    display : flex;
    justify-content: space-around;
}

div a {
    border: 4px solid lavender;
    padding: 1em;
    text-decoration: none;
    color: black;
}

div a:hover {
    background-color: lavender;
}
    